body {
    background-image: url("images/dust_scratches/dust_scratches.png");
}
.header {
    margin-bottom: 20px;
}
.logo-element {
    text-align: center;
}
.login {
    text-align: center;
}
form {
    display: inline-block;
    text-align: left;
}