body {
    background-image: url("images/dust_scratches/dust_scratches.png");
}
.header {
    margin-bottom: 20px;
}
.logo-element {
    text-align: center;
}
.login {
    text-align: center;
}
form {
<<<<<<< HEAD
    /* display: inline-block; */
    text-align: left;
}

.editimg {
    height: 80px;
    width: 75px;
}

.childdata {
    height:34px;
}

#addchild {
    text-align: right;
}
.customheadheight {
    height: 80px;
=======
    display: inline-block;
    /* text-align: left; */
>>>>>>> 772f00aa5a8e12662fc0dad96bc4acc7b8fca62d
}